{% extends "base.html.twig" %}

{% block title %}HelloDutch{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block home_content %}

    {% set result = 'result' %}
    {{ include ('single.html.twig') }}

    <h1>Welcome!</h1>

    {%  if is_granted('ROLE_USER') %}
    <div>
        <div id="map"></div>
    </div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 52.37403, lng: 4.88969},
                zoom: 6.8
            });

            var script = document.createElement('script');
            var mapdata = map.data.loadGeoJson('/geodata/provinces.geojson');

            map.data.setStyle({
                strokeWeight: 2,
                clickable: true
            });

            map.data.addListener('click', function(event) {
                map.data.overrideStyle(event.feature, {fillColor: 'orange'});

                    var pos = {
                        lat: event.latLng.lat(),
                        lng: event.latLng.lng()
                    };

                    lati = pos.lat;
                    longi = pos.lng;

                $.ajax({
                    url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + lati + ',' + longi + '&key=AIzaSyDz1jPdAPhKnEgWFqYMt9x55-gA1l0yBcA',
                    dataType: 'application/json',
                    complete: function (data) {
                        console.log(data)
                    },
                    success: function (data) {
                        var area = data.results[0].address_components[5].long_name;
                        //Based on Example: http://maps.googleapis.com/maps/api/geocode/json?latlng=40.714224,-73.961452&sensor=true

                        //Pass area data to PHP via AJAX
                        $.ajax({
                            type: 'POST',
                            url: '/form-processor',
                            data: {'area': area},
                        });
                    }
                });

            });

                map.data.addListener('rightclick', function(event) {
                map.data.overrideStyle(event.feature, {fillColor: 'none'});
                map.data.removeProperty();
            });

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH0wa45V58u1my4MuOCLsRsIpu9oKJQto&callback=initMap"
            async defer></script>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_label(form.recipe, 'Search for Recipe') }}
        {{ form_row(form.recipe) }}

        {{ form_label(form.category, 'Search by Category') }}
        {{ form_row(form.category) }}

        {{ form_label(form.province, 'Search by Province of origin') }}
        {{ form_row(form.province) }}
        {{ form_end(form) }}

    {% else %}
        <p>Please <a href="{{ path('fos_user_security_login') }}">Login</a>
            or <a href="{{ path('fos_user_registration_register') }}">Register</a>
            to proceed.
        </p>
    {% endif %}
{% endblock %}
